.autocomplete-container {
    position: relative;
    width: 300px;
}

.autocomplete-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete-dropdown {
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    width: 320px;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.autocomplete-item:last-child {
    border-bottom: none;
}

.autocomplete-item:hover,
.autocomplete-item.highlighted{
    background-color: #f8f8f8;
}

.autocomplete-clear-btn {
    position: absolute;
    right: -15px;
    top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.autocomplete-clear-icon {
    font-size: 16px;
    color: grey;
}
